In [2]:
import pandas as pd

In [3]:
#Reading users file:
file_user='m1-100k/u.user'
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(file_user, sep='|', names=u_cols,encoding='latin-1')

In [4]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [9]:
users.shape

(943, 5)

In [5]:
file_ratings='m1-100k/u.data'
#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']

In [6]:
ratings = pd.read_csv(file_ratings, sep='\t', names=r_cols,encoding='latin-1')

In [16]:
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [7]:
file_items='m1-100k/u.item'

In [8]:
#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [19]:
items = pd.read_csv(file_items, sep='|', names=i_cols,encoding='latin-1')

In [20]:
items.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
items.shape

(1682, 24)

In [23]:
#pip install --upgrade --no-cache-dir https://get.graphlab.com/GraphLab-Create/2.1/maheshanand79@gmail.com/9C11-E872-C643-93FF-4779-8CF2-94A4-4688/GraphLab-Create-License.tar.gz

In [21]:
import graphlab
train_data = graphlab.SFrame(ratings_base)
test_data = graphlab.SFrame(ratings_test)

ModuleNotFoundError: No module named 'graphlab'

In [15]:
#Simple Popularity Model
#all the users have same recommendation based on the most popular choices.

In [17]:
popularity_model = graphlab.popularity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')

In [18]:
#Get recommendations for first 5 users and print them
#users = range(1,6) specifies user ID of first 5 users
#k=5 specifies top 5 recommendations to be given
popularity_recomm = popularity_model.recommend(users=range(1,6),k=5)
popularity_recomm.print_rows(num_rows=25)

In [19]:
#The recommendations for all users are same

In [20]:
#checking the movies with highest mean recommendations in our ratings_base data set:
ratings_base.groupby(by='movie_id')['rating'].mean().sort_values(ascending=False).head(20)

In [22]:
#Collaborative Filtering Model
#1.Find similar items by using a similarity metric
#2.For a user, recommend the items most similar to the items (s)he already likes

In [23]:
#Item Similarity Metrics using Cosine Similarity

In [24]:
#Train Model
item_sim_model = graphlab.item_similarity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating', similarity_type='pearson')

In [25]:
#Make Recommendations:
item_sim_recomm = item_sim_model.recommend(users=range(1,6),k=5)
item_sim_recomm.print_rows(num_rows=25)

In [26]:
#Evaluating the model
#Recall: What ratio of items that a user likes were actually recommended.
#If a user likes say 5 items and the recommendation decided to show 3 of them, then the recall is
#0.6

In [27]:
#Precision: Out of all the recommended items, how many the user actually liked?
#If 5 items were recommended to the user out of which he liked say 4 of them, then precision is 0.8

In [29]:
#Note: If we recommend say 1000 items and user like only say 10 of them then precision is 0.1%. 
#Our aim is to maximize both precision and recall.

In [30]:
model_performance = graphlab.compare(test_data, [popularity_model, item_sim_model])
graphlab.show_comparison(model_performance,[popularity_model, item_sim_model])